{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "webextensions": true
  },
  "rules": {
    "indent": [
      "warn",
      2
    ],
    "semi": "warn",
    "quotes": ["warn", "single"]
  }
}